<?xml version="1.0"?>
<robot name="gripper" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="gripper" params="parent *origin">
    <xacro:property name="mesh_path" value="file://$(find rover_description)/meshes/dae"/>
    

    <joint name="left_clamp_link_joint" type="prismatic">
        <limit lower="0.00000" upper="0.40000" effort="50.00000" velocity="1.50000"/>
        <origin rpy="-1.57080 0.00000 0.00000" xyz="0.01328 -0.34694 -0.48139"/>
        <parent link="${parent}"/>
        <child link="left_clamp_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>
    <joint name="right_clamp_link_joint" type="prismatic">
        <limit lower="0.00000" upper="0.40000" effort="50.00000" velocity="1.50000"/>
        <origin rpy="1.57080 0.00000 0.00000" xyz="0.01328 0.35306 -0.50058"/>
        <parent link="${parent}"/>
        <child link="right_clamp_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>

    <link name="left_clamp_link">
    <collision name="left_clamp_collision">
        <origin rpy="-1.57080 0.00000 0.00000" xyz="0.00000 0.02217 0.00000"/>
        <geometry>
        <mesh filename="${mesh_path}/Cube.003.dae" scale="0.10000 0.05000 0.37500"/>
        </geometry>
    </collision>
    <inertial>
        <inertia ixx="0.02385" ixy="0.00000" ixz="0.00000" iyy="0.02510" iyz="-0.00000" izz="0.00208"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.02217 0.00000"/>
        <mass value="0.50000"/>
    </inertial>
    <visual name="left_clamp">
        <material name="orange"/>
        <origin rpy="1.57080 0.00000 0.00000" xyz="0.00000 0.02217 0.00000"/>
        <geometry>
        <box size="0.20000 0.10000 0.75000"/>
        </geometry>
    </visual>
    </link>
        <link name="right_clamp_link">
        <collision name="right_clamp_collision">
            <origin rpy="-1.57080 0.00000 0.00000" xyz="0.00000 0.06532 -0.00000"/>
            <geometry>
                <mesh filename="${mesh_path}/Cube.004.dae" scale="0.10000 0.05000 0.37500"/>
            </geometry>
        </collision>
        <inertial>
        <inertia ixx="0.02385" ixy="0.00000" ixz="0.00000" iyy="0.02510" iyz="0.00000" izz="0.00208"/>
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.06532 0.00000"/>
            <mass value="0.50000"/>
        </inertial>
        <visual name="right_clamp">
            <material name="orange"/>
            <origin rpy="-1.57080 0.00000 0.00000" xyz="0.00000 -0.00301 0.00000"/>
        <geometry>
            <box size="0.20000 0.10000 0.75000"/>
        </geometry>
        </visual>
    </link>

    <material name="orange">
        <color rgba="0.80000 0.27059 0.09804 1.00000"/>
    </material>
    <material name="Material.005">
        <color rgba="0.61176 0.61176 0.61176 1.00000"/>
    </material>
    </xacro:macro>

</robot>