<?xml version="1.0"?>
<robot name="scara" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find rover_description)/urdf/arm/gripper.urdf.xacro"/>
    <xacro:property name="mesh_path" value="file://$(find rover_description)/meshes/dae"/>
    <xacro:macro name="scara" params="parent">

    
    <joint name="fixed_base_arm_link_joint" type="fixed">
        <origin rpy="0.00000 0.00000 0.00000" xyz="1.05420 -0.01261 0.59836"/>
        <parent link="body_link"/>
        <child link="fixed_base_arm_link"/>
    </joint>

    <joint name="l0_arm_link_joint" type="fixed">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.04593"/>
        <parent link="fixed_base_arm_link"/>
        <child link="l0_arm_link"/>
    </joint>
    <joint name="l1_arm_link_joint" type="continuous">
        <limit effort="150.00000" velocity="3.00000"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00480 1.93831"/>
        <parent link="l0_arm_link"/>
        <child link="l1_arm_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>
    <joint name="l2_arm_link_joint" type="continuous">
        <limit effort="150.00000" velocity="3.00000"/>
        <origin rpy="0.00000 0.00000 1.57080" xyz="0.04172 1.09520 0.15762"/>
        <parent link="l1_arm_link"/>
        <child link="l2_arm_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>
    <joint name="l3_arm_link_joint" type="prismatic">
        <limit lower="-2.40000" upper="0.80000" effort="150.00000" velocity="3.00000"/>
        <origin rpy="0.00000 0.00000 -1.57080" xyz="0.00000 -1.26247 0.09521"/>
        <parent link="l2_arm_link"/>
        <child link="l3_arm_link"/>
        <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>
    <joint name="clamp_base_link_joint" type="continuous">
      <limit effort="150.00000" velocity="3.00000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00223 -0.00306 -0.95588"/>
      <parent link="l3_arm_link"/>
      <child link="clamp_base_link"/>
      <axis xyz="0.00000 0.00000 1.00000"/>
    </joint>

    <link name="fixed_base_arm_link">
        <collision name="fixed_base_arm_collision">
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
            <geometry>
                <mesh filename="${mesh_path}/Cylinder.dae" scale="0.37500 0.37500 0.10000"/>
            </geometry>
        </collision>
        <inertial>
            <inertia ixx="0.19132" ixy="0.00000" ixz="0.00000" iyy="0.19132" iyz="0.00000" izz="0.34931"/>
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
            <mass value="5.00000"/>
        </inertial>
        <visual name="fixed_base_arm">
            <material name="Material.005"/>
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
            <geometry>
                <mesh filename="${mesh_path}/Cylinder.dae" scale="0.37500 0.37500 0.10000"/>
            </geometry>
        </visual>
    </link>

    <link name="l0_arm_link">
        <collision name="l0_arm_collision">
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 1.04593"/>
            <geometry>
                <mesh filename="${mesh_path}/Cylinder.001.dae" scale="0.15000 0.15000 1.00000"/>
            </geometry>
        </collision>
        <inertial>
            <inertia ixx="1.69461" ixy="0.00000" ixz="0.00000" iyy="1.69461" iyz="0.00000" izz="0.05589"/>
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 1.04593"/>
            <mass value="5.00000"/>
        </inertial>
        <visual name="l0_arm">
            <material name="orange"/>
            <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 1.04593"/>
            <geometry>
                <mesh filename="${mesh_path}/Cylinder.001.dae" scale="0.15000 0.15000 1.00000"/>
            </geometry>
        </visual>
  </link>
  <link name="l1_arm_link">
    <collision name="l1_arm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.49520 -0.14238"/>
      <geometry>
        <mesh filename="${mesh_path}/Cylinder.002.dae" scale="0.25000 0.87500 0.15000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.98840" ixy="-0.00000" ixz="0.00000" iyy="0.11512" iyz="-0.00000" izz="1.02853"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.49520 -0.14238"/>
      <mass value="5.00000"/>
    </inertial>
    <visual name="l1_arm">
      <material name="Material.005"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.49520 -0.14238"/>
      <geometry>
        <mesh filename="${mesh_path}/Cylinder.002.dae" scale="0.25000 0.87500 0.15000"/>
      </geometry>
    </visual>
  </link>
  <link name="l2_arm_link">
    <collision name="l2_arm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.70828 0.00000"/>
      <geometry>
        <mesh filename="${mesh_path}/Cylinder.003.dae" scale="0.25000 0.87500 0.15000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.04605" ixy="-0.00000" ixz="0.00000" iyy="0.39536" iyz="-0.00000" izz="0.41141"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.70828 0.00000"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="l2_arm">
      <material name="Material.005"/>
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00000 -0.70828 0.00000"/>
      <geometry>
        <mesh filename="${mesh_path}/Cylinder.003.dae" scale="0.25000 0.87500 0.15000"/>
      </geometry>
    </visual>
  </link>
  <link name="l3_arm_link">
    <collision name="l3_arm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.58392"/>
      <geometry>
        <mesh filename="${mesh_path}/Cylinder.004.dae" scale="0.15000 0.15000 1.60000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="1.71784" ixy="0.00000" ixz="0.00000" iyy="1.71784" iyz="0.00000" izz="0.02236"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.58392"/>
      <mass value="2.00000"/>
    </inertial>
    <visual name="l3_arm">
      <material name="orange"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.58392"/>
      <geometry>
        <mesh filename="${mesh_path}/Cylinder.004.dae" scale="0.15000 0.15000 1.60000"/>
      </geometry>
    </visual>
  </link>

  <link name="clamp_base_link">
    <collision name="clamp_base_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.08713"/>
        <geometry>
        <mesh filename="${mesh_path}/Cylinder.005.dae" scale="0.25000 0.45000 0.05000"/>
        </geometry>
    </collision>
    <inertial>
        <inertia ixx="0.02557" ixy="-0.00000" ixz="0.00000" iyy="0.00818" iyz="-0.00000" izz="0.03291"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.08713"/>
        <mass value="0.50000"/>
    </inertial>
    <visual name="clamp_base">
        <material name="Material.005"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.08713"/>
        <geometry>
        <mesh filename="${mesh_path}/Cylinder.005.dae" scale="0.25000 0.45000 0.05000"/>
        </geometry>
    </visual>
  </link>

  <xacro:gripper parent="clamp_base_link">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00223 -0.00306 -0.95588"/>
  </xacro:gripper>

</xacro:macro>
</robot>
